@font-face {
  font-family: "Intro-book";
  font-weight: 400;
  src: url('./assets/fonts/Intro-Book.ttf');
}

@font-face {
  font-family: "Intro-regular";
  font-weight: 400;
  src: url('./assets/fonts/Intro-Regular.ttf');
}

@font-face {
  font-family: "Intro-bold";
  font-weight: 700;
  src: url('./assets/fonts/Intro-Bold.ttf');
}



* {
  margin: 0px;
  padding: 0px;
  font-family: 'Intro-book';
  box-sizing: border-box;
}

