@font-face {
  font-family: "Intro";
  font-weight: 300;
  src: url('./assets/fonts/IntroBook.ttf');
}

@font-face {
  font-family: "Intro";
  font-weight: 400;
  src: url('./assets/fonts/intro_regular.ttf');
}

@font-face {
  font-family: "Intro";
  font-weight: 700;
  src: url('./assets/fonts/intro_bold.ttf');
}



* {
  margin: 0px;
  padding: 0px;
  font-family: 'Intro';
  box-sizing: border-box;
}

